@{
    ViewData["Title"] = "Admin Dashboard";
}

<section class="admin-dashboard spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="admin-sidebar">
                    <h4>Admin Menu</h4>
                    <ul class="admin-sidebar-nav">
                        <li class="active"><a href="#"><i class="fa fa-tachometer"></i> Dashboard</a></li>
                        <li><a asp-controller="Admin" asp-action="Products"><i class="fa fa-tags"></i> Quản lý Sản phẩm</a></li>
                        <li><a href="#"><i class="fa fa-th-large"></i> Quản lý Danh mục</a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i> Quản lý Đơn hàng</a></li>
                        <li><a href="#"><i class="fa fa-users"></i> Quản lý Người dùng</a></li>
                        <li><a href="#"><i class="fa fa-newspaper-o"></i> Quản lý Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="admin-content">
                    <div class="admin-content-title">
                        <h2>Dashboard</h2>
                        <p>Tổng quan về cửa hàng của bạn</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="admin-stat-card">
                                <h3>150</h3>
                                <p>Sản phẩm</p>
                                <span class="icon_tags_alt"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="admin-stat-card">
                                <h3>30</h3>
                                <p>Đơn hàng mới</p>
                                <span class="icon_cart_alt"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="admin-stat-card">
                                <h3>250</h3>
                                <p>Người dùng</p>
                                <span class="icon_profile"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>