<div class="admin-sidebar">
    <h4>Admin Menu</h4>
    <ul class="admin-sidebar-nav">
        <li><a asp-controller="Admin" asp-action="Index"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        <li><a asp-controller="Admin" asp-action="Products"><i class="fa fa-tags"></i> Quản lý Sản phẩm</a></li>
        <li><a asp-controller="Admin" asp-action="Categories"><i class="fa fa-th-large"></i> Quản lý Danh mục</a></li>
        <li><a asp-controller="Admin" asp-action="Orders"><i class="fa fa-shopping-cart"></i> Quản lý Đơn hàng</a></li>
        <li><a asp-controller="Admin" asp-action="Vouchers"><i class="fa fa-ticket"></i> Quản lý Voucher</a></li>
        <li><a asp-controller="Admin" asp-action="ReturnRequests"><i class="fa fa-undo"></i> Quản lý Trả hàng</a></li>
        <li><a href="#"><i class="fa fa-users"></i> Quản lý Người dùng</a></li>
        <li><a href="#"><i class="fa fa-newspaper-o"></i> Quản lý Blog</a></li>
    </ul>
</div>